body {
    background: #333;
}

.title {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 60px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
    position: relative;
    align-items: center;
}

.title::before {
    content: '';
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    background: #FA6464;
    border-radius: 50%;
    border: 4px solid white;
}

.title::after {
    transform: translateX(50%);
    content: '';
    width: 80px;
    height: 80px;
    background: #5E5FEE;
    border-radius: 50%;
    border: 4px solid white;
}
