:root {
    --black-color: #000000;
    --desc-text: #4B4B4B;
    --input-color: #C5C5C5;
    --white-color: #FFFFFF;
    --font-family: "Inter", sans-serif;
    --font-family-2: "Readex Pro", sans-serif;
    --transition: all .3s;
    --transition-2: .3s;
    --border-radius: 100%;
    --border-default: 32px;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 7vh;
}

body {
    font-family: var(--font-family);
    line-height: 1.2;
    color: var(--black-color);
    background: #FFFFFF;
}

.body--opened-menu {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1294px;
    margin: 0 auto;
    padding: 0 30px;
    height: 100%;
}

.title {
    font-family: var(--font-family-2);
    font-size: 42px;
    line-height: 1.25;
    text-align: center;
}

.text {
    
}

.dropdown-arrow {
    transition: var(--transition);
    position: absolute;
    left: 88%;
}
